/* main header style */
* {
  padding: 0px;
  margin: 0px;
}
.main-head {
  background-color: red;
  padding: 20px 100px 20px 100px;
}
.main-logo {
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav > ul > li {
  padding-right: 50px;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}
